body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: #f5e180;
}

.search-box {
    margin: 1.5rem 1rem;
}

 input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

img {
    width: 24px;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 1rem;
    gap: 0.6rem;
}

.filter-btn button{
    padding: 16px;
    border-radius: 24px;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
}

img {
    font-size: 24px;
    margin-right: 16px;
}

#all-todo-btn {
    background-color: lightgreen;
    border: 2px solid green;
}

#completed-todo-btn {
    background-color: lightblue;
    border: 2px solid rgb(26, 174, 179);
}

#active-todo-btn {
    background-color: lightyellow;
    border: 2px solid yellow;
}

ul {
    padding: 0;
    margin: 0 1rem;
}

li {
    list-style: none;
    background-color: white;
    padding: 1.5rem 1rem;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid #777;
}

.create-task {
    position: fixed;
    background-color: #f5e180;
    bottom: 0;
    width: 100%;
    /* margin: 0 1rem; */
    border: 2px solid #333;
}

#form-input {
    width: 100%;
    margin: 1rem 1rem 1rem 1rem;
    /* margin-bottom: 12px; */
}

#form-btn {
    background-color: blueviolet;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    margin:0 1rem 1rem 1rem;
}